<html>
<head>
  <title>File List</title>
  <link rel="stylesheet" href="static/js/vakata-jstree-b446e66/dist/themes/default/style.min.css" />
</head>
<body>
  <div id="jstree">
  </div>
  <button id="joinButton">Join</button>
  <button id="reencodeButton">Re-encode</button>
  <button id="deleteButton">Delete</button>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="static/js/vakata-jstree-b446e66/dist/jstree.min.js"></script>
<script src="static/js/files.js"></script>
</html>
